openapi: 3.0.3
info:
  title: Developer API (開發者後台 API)
  description: |
    開發者後台 (Developer Console) 後端 API OpenAPI 3.0 規格文件，供 `apps/developer-web` 呼叫。
    讓開發者管理「自己擁有 (Application Ownership)」的應用專案。

    ### 規範遵守聲明
    - **領域語言**：遵守 `CONTEXT.md` 統一領域語言（Application Ownership、OAuth Client、Scope）。
    - **錯誤格式**：所有非 2xx 回應皆為 **RFC 7807 Problem Details**，Content-Type 為 `application/problem+json`。
    - **鑑權 (Dogfooding)**：以 `auth-server` 簽發的 Access Token（RS256 JWT）作 Bearer 驗證。
      Token 必須包含 `developer_api` 範疇（僅授權給 `developer-web`），會員身分取自 `sub` claim。
    - **數據隔離**：所有查詢與異動皆以 Token 內的 `sub`（MemberId）為擁有者條件；
      存取他人專案一律回 `404`（不洩漏專案是否存在）。
  version: 1.0.0

servers:
  - url: https://developer.1111.com.tw
    description: 正式營運環境 (Production)

tags:
  - name: Applications
    description: 應用專案（Application）生命週期管理
  - name: OAuth Client
    description: 應用專案的 OAuth 2.1 Client 設定與 Client Secret 生命週期

security:
  - bearerAuth: []

paths:
  /api/v1/applications:
    get:
      tags: [Applications]
      summary: 取得我擁有的應用專案清單
      operationId: listApplications
      responses:
        '200':
          description: 僅包含呼叫者擁有的專案，依建立時間由新到舊排序
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Applications]
      summary: 建立應用專案
      description: 專案自動綁定呼叫者的 MemberId，並產生唯一的 `clientId`。
      operationId: createApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        '201':
          description: 建立成功
          headers:
            Location:
              description: 新專案的詳情網址
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/applications/{applicationId}:
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Applications]
      summary: 取得應用專案詳情
      operationId: getApplication
      responses:
        '200':
          description: 專案詳情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Applications]
      summary: 更新應用專案
      description: 以請求內容完整取代可編輯欄位（名稱、簡介、聯絡 Email、Logo、官網）。`clientId` 與狀態不可經此端點變更。
      operationId: updateApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/applications/{applicationId}/oauth-client:
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [OAuth Client]
      summary: 取得應用專案的 OAuth Client 設定
      description: 尚未設定時回傳預設值（Public、無網址、無範疇）。含 Client Secret 的摘要（不含明文與雜湊）。
      operationId: getOAuthClient
      responses:
        '200':
          description: OAuth Client 設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [OAuth Client]
      summary: 設定應用專案的 OAuth Client
      description: |
        設定客戶端類型、Redirect URIs、Post Logout Redirect URIs 與申請的範疇，並同步到 auth-server。
        開發者建立的 Client 一律需要會員同意（Explicit）且強制 PKCE；只有申請 `offline_access` 時才可使用 Refresh Token。
        改為 Public 時既有的 Client Secret 一併清除。
      operationId: putOAuthClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientRequest'
      responses:
        '200':
          description: 設定成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientResponse'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/applications/{applicationId}/oauth-client/secrets:
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [OAuth Client]
      summary: 發行新的 Client Secret
      description: |
        僅 Confidential Client 可發行。明文只在此回應出現一次（`Cache-Control: no-store`），資料庫只保存 SHA-256 雜湊。
        雙金鑰平滑輪替：既有有效的 Secret 進入 24 小時過渡期（期間新舊皆可向 auth-server 換發 Token）；
        同時有效的 Secret 最多 2 組，已達上限回 `409`。
      operationId: issueClientSecret
      responses:
        '201':
          description: 發行成功
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedClientSecretResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/applications/{applicationId}/oauth-client/secrets/{secretId}:
    parameters:
      - name: applicationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: secretId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags: [OAuth Client]
      summary: 手動作廢 Client Secret
      description: 立即失效，不論是否仍在過渡期。找不到或已作廢回 `404`。
      operationId: revokeClientSecret
      responses:
        '204':
          description: 已作廢
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: auth-server 簽發的 Access Token，需含 `developer_api` 範疇。

  schemas:
    ApplicationRequest:
      type: object
      required: [name, description, contactEmail]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: 應用程式名稱
        description:
          type: string
          minLength: 1
          maxLength: 500
          description: 應用程式簡介
        contactEmail:
          type: string
          format: email
          maxLength: 254
          description: 聯絡窗口 Email
        logoUrl:
          type: string
          format: uri
          maxLength: 2048
          nullable: true
          description: Logo 網址（僅允許 http / https）
        homepageUrl:
          type: string
          format: uri
          maxLength: 2048
          nullable: true
          description: 官網首頁（僅允許 http / https）

    ApplicationResponse:
      type: object
      required: [id, clientId, name, description, contactEmail, status, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        clientId:
          type: string
          description: 系統產生的唯一 OAuth Client 識別碼
        name:
          type: string
        description:
          type: string
        contactEmail:
          type: string
          format: email
        logoUrl:
          type: string
          nullable: true
        homepageUrl:
          type: string
          nullable: true
        status:
          type: string
          enum: [Active, PendingReview, Suspended]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ApplicationListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationResponse'

    OAuthClientRequest:
      type: object
      required: [clientType, redirectUris, postLogoutRedirectUris, scopes]
      properties:
        clientType:
          type: string
          enum: [Public, Confidential]
        redirectUris:
          type: array
          maxItems: 10
          description: 嚴格比對；須為 https（本機開發可用 http://localhost），不可含 `#`、帳號密碼或萬用字元
          items:
            type: string
            format: uri
        postLogoutRedirectUris:
          type: array
          maxItems: 10
          items:
            type: string
            format: uri
        scopes:
          type: array
          minItems: 1
          description: 只能從 `openid`、`profile`、`email`、`offline_access` 選擇（`developer_api` 為平台內部專用，不開放）
          items:
            type: string

    ClientSecretSummary:
      type: object
      required: [id, prefix, createdAt, status]
      properties:
        id:
          type: string
          format: uuid
        prefix:
          type: string
          description: 明文的前 7 碼，僅供辨識
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: 過渡期結束時間；使用中的 Secret 為 null
        revokedAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [Active, Expiring, Expired, Revoked]

    OAuthClientResponse:
      type: object
      required: [clientId, clientType, redirectUris, postLogoutRedirectUris, scopes, allowedScopes, secrets]
      properties:
        clientId:
          type: string
        clientType:
          type: string
          enum: [Public, Confidential]
        redirectUris:
          type: array
          items:
            type: string
        postLogoutRedirectUris:
          type: array
          items:
            type: string
        scopes:
          type: array
          items:
            type: string
        allowedScopes:
          type: array
          description: 開發者可申請的範疇清單
          items:
            type: string
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/ClientSecretSummary'

    IssuedClientSecretResponse:
      type: object
      required: [id, secret, prefix, createdAt]
      properties:
        id:
          type: string
          format: uuid
        secret:
          type: string
          description: Client Secret 明文，只會出現這一次
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true

    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

  responses:
    ValidationFailed:
      description: 請求參數驗證失敗
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Unauthorized:
      description: 未提供、格式錯誤、偽造或已過期的 Access Token
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict:
      description: 與目前狀態衝突（例如 Public Client 不能發行 Secret、同時有效的 Secret 已達 2 組、同時被其他請求修改）
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Forbidden:
      description: Access Token 有效但缺少 `developer_api` 範疇
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    NotFound:
      description: 專案不存在，或不屬於呼叫者（不區分以免洩漏存在與否）
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
